.main h1 {
  margin: 0;
  text-align: center;
  font-family: 'Alice', serif;
  color: beige;
}
body {
  background-color: beige !important;
}
* {
  box-sizing: border-box;
}
.conteudo {
  width: 56.7%;
  margin: 0 auto;
  background-color: #fff;
  position: absolute;
  top: 16px;
  left: 292px;
  height: 175%;
  padding: 150px 40px 0 40px;
  margin-bottom: 16px;
}
.icone-bloco {
  width: 20px;
  height: 20px;
  background-color: darkorange;
  display: inline-block;
  vertical-align: text-bottom;
  border-radius: 50%;
}
.vertical-bloco {
  width: 10px;
  display: inline-block;
  background-color: whitesmoke;
  margin-top: 20px;
  margin-left: 2px;
}
.exp {
  height: 207px;
}
.edu {
  height: 312px;
}
.sob {
  height:105px;
}
h3 {
  display: inline-block;
  margin: 0;
  font-family: 'Alice', serif !important;
  font-size: 1.3em;
  padding-left: 7px;
  color: #1B3C59;
}
section {
  padding: 10px;
}
.icons {
  display: inline-block;
  margin: 20px auto;
  width: 25px;
  height: 25px;
}
.icons .cel {
  background: url(../imgs/mobile.png);
  width: 58px;
  height: 63px;
  display: block;

}

.icons .mail {
  background: url(../imgs/email.png);
  width: 67px;
  height: 55px;
  display: block;
}

.icons .twt {
  background-image: url(../imgs/twitterr.png);
  width: 60px;
  height: 57px;
  display: block;
}
.descricao {
  display: inline-block;
  width: 95%;
  vertical-align: text-bottom;
  padding: 5px 10px;
}
.descricao p {
  color: #1B3C59;
  font-family: 'Raleway', sans-serif;
}
.container_ {
  width: 80%;
  max-width: 1000px;
  height: 80px;
  margin: 40px auto; 
  position: relative;
  background: beige;
}
.margin-top {
  margin-top: 0;
}
.data {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 0;
  text-decoration: underline;
  line-height: 27px;
}
.one > div {
  height: 50px;
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 27px;
}
ul li {
  display: inline-block;
  float: left;
  padding: 0 10px;
}
ul li a, ul li p {
  color: #F24B4B;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}
ul li a:hover {
  text-decoration: none;
  color: #F24b4b;
}
.espaco-icons {
  display: inline-block;
  padding-left: 37px;
}
.main {
  background: #0fadc0; 
  position: relative;
  display: block;
  width: 90%;
  left: 50%;
  top: 0;
  padding: 5px;
  margin-left: -45%;
  z-index: 10;
}

.main > div {
  border: 1px dashed #fff;
  border-color: rgba(255, 255, 255, 0.5);
  height: 40px;
}

.bk {
 background: #1199a9;
 position: absolute;
 width: 8%;
 top: 12px;
}

.bk.l {
 left: 0;
}

.bk.r {
 right: 0;
}

.skew {
  position: absolute;
  background: #0c7582;
  width: 3%;
  top: 6px;
  z-index: 5;
}

.skew.l {
  left: 5%;
  transform: skew(00deg,20deg);
}

.skew.r {
  right: 5%;
  transform: skew(00deg,-20deg);
}

.bk.l > div {
  left: -30px;
}

.bk.r > div {
  right: -30px;
}

.arrow {
  height: 25px !important;
  position: absolute;
  z-index: 2;
    width: 0; 
    height: 0; 
}

.arrow.top {
  top: 0px;
  border-top: 0px solid transparent;
    border-bottom: 25px solid transparent;  
    border-right: 30px solid #1199a9; 
}

.arrow.bottom {
  top: 25px;
  border-top: 25px solid transparent;
    border-bottom:0px solid transparent;    
    border-right: 30px solid #1199a9; 
}

.r .bottom {
  border-top: 25px solid transparent;
    border-bottom: 0px solid transparent;   
    border-left: 30px solid #1199a9; 
  border-right: none;
}

.r .top {
  border-bottom: 25px solid transparent;
    border-top: 0px solid transparent;  
    border-left: 30px solid #1199a9; 
  border-right: none;
}

@media all and (max-width: 1020px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,25deg);
  }

  .skew.r {
    right: 5%;
    transform: skew(00deg,-25deg);
  }
}

@media all and (max-width: 680px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,30deg);
  }

  .skew.r {
    right: 5%;
    transform: skew(00deg,-30deg);
  }
}

@media all and (max-width: 460px) {
  .skew.l {
    left: 5%;
    transform: skew(00deg,40deg);
  }
  .skew.r {
    right: 5%;
    transform: skew(00deg,-40deg);
  }
}
.ribbon_round a {
  color: beige;
  text-decoration: none !important;
}
.ribbon_round a:hover {
  color: beige;
}
.ribbon_round { 
font-size:1em;    
position:absolute;
font-family: 'Alice', serif;
background-image: linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);
background-image: -o-linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);
background-image: -moz-linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);
background-image: -webkit-linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);
background-image: -ms-linear-gradient(left , rgb(174,174,174) 35%, rgb(189,189,189) 63%, rgb(214,214,214) 96%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.35, rgb(174,174,174)),
    color-stop(0.63, rgb(189,189,189)),
    color-stop(0.96, rgb(214,214,214)));  
    
   padding:15px 35px;
   color:#393939;
   text-shadow:-1px 1px 0 rgba(255,255,255,0.4);
   box-shadow:-10px 10px 20px rgba(0,0,0,0.1);
   -webkit-transition: all 0.05s ease; 
   border-radius:30px 0 0 30px;
}
.ribbon_round:after {
   content:"";
   position: absolute;
   width: 0;
   height: 0;    
   border-top:0;
   border-left: 20px solid #8f8f8f;
   border-bottom: 10px solid transparent;
   margin:33px 0 0 15px;
   -webkit-transition: all 0.05s ease;     
   }
.red {   
color: #fff;    
background-image: linear-gradient(left , rgb(255,68,68) 22%, rgb(254,121,121) 100%);
background-image: -o-linear-gradient(left , rgb(255,68,68) 22%, rgb(254,121,121) 100%);
background-image: -moz-linear-gradient(left , rgb(255,68,68) 22%, rgb(254,121,121) 100%);
background-image: -webkit-linear-gradient(left , rgb(255,68,68) 22%, rgb(254,121,121) 100%);
background-image: -ms-linear-gradient(left , rgb(255,68,68) 22%, rgb(254,121,121) 100%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.22, rgb(255,68,68)),
    color-stop(1, rgb(254,121,121))
);
}    
    
.red:before {
 border-top:24px solid #FF4444;
 border-bottom: 24px solid #FF4444;
}


.red:after {
 border-left: 20px solid #CC0000;
   border-bottom: 10px solid transparent;
}