@media print {
  div.container_ {
    width: 100%;
  }
  div.bk, div.icone-bloco, div.ribbon_round, div.skew, div.vertical-bloco, div.icons{
    display: none;
  }
  div.main {
    background-color: #fff;
  }
  .main h1 {
    color: #1B3C59;
  }
  div.conteudo {
    width: 100%;
    position: inherit;
    padding: 20px;
  }
  a.espaco-icons {
    display: inline;
    padding: 10px;
  }
  div.descricao {
    vertical-align: inherit;
  }
}