@media print {
  div.container_ {
    width: 100%;
  }
  div.bk, div.icone-bloco, div.ribbon_round, div.skew, div.vertical-bloco, div.icons{
    display: none;
  }
  div.main {
    background-color: #fff;
  }
  .main h1 {
    color: #1B3C59;
  }
  div.conteudo {
    width: 100%;
    position: inherit;
    padding: 5px !important;
  }
  a.espaco-icons {
    display: inline;
    padding: 10px;
  }
  div.descricao {
    vertical-align: inherit;
  }
  div.container_ {
    margin: 5px auto;
  }
  ul li a, ul li p {
    font-weight: 400;
  }
  section {
    margin-top: -30px;
  }
  section h3 {
    margin: 3px 0;
  }
}
