.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__parallax,
.main__about,
.main__projects {
  flex: 1;
  width: 100%;
}

.main__projects {
  margin-bottom: 1.5rem;
}