* {
	background:transparent !important;
	color:#000 !important;
	text-shadow:none !important;
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-size: 12pt serif;
}

a:link, a:visited {
	color: #333;
	text-decoration: underline;
}

#photo {
	display: none;
}

.icons {
	display: none;
}

.titles {
	margin-top: 10px;
}

#infos, #content, #knowledge {
	margin: px;
	padding: 10px;
}

#left, #right {
	display: inline-block;
	width: 45%;
	vertical-align: top;
	margin: 5px 0 5px 0;
}
