* {
	background:transparent !important;
	color:#000 !important;
	text-shadow:none !important;
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-size: 12pt serif;
}

a:link, a:visited {
	color: #333;
	text-decoration: underline;
}

#foto {
	display: none;
}

.icons {
	display: none;
}

#infos, #content, #knowledge {
	margin: 5px;
	padding: 10px;
}
