* { margin: 0px;}

.no-list { list-style: none; }

.clear { clear: both;}

.wrapper { width: 960px; margin: 0 auto; }

.block-top { height: 95px; background-color: #fff;}

.block-top h1 { font-family: 'Libre Baskerville', serif; font-size: 40px; color: rgb(96, 96, 96); }

.block-top p { font-family: 'Indie Flower', cursive; font-weight: bold; font-size: 17px; margin-left: 50px; color: rgb(96, 96, 96)}

.logo { float: left; padding: 7px 5px; margin-right: 50px;}

.no-list li { float: left; margin: 30px 30px 5px;}

.no-list li a { font-family: 'Libre Baskerville', serif; text-decoration: none; color:rgb(195, 191, 190); }

.no-list li a:hover { color: #FF3725; }

.content { background-color: #FAF2FF; width: 100%; height: 675px;}

.content .photo { width: 440px; height: 600px; float: left;}

.content .photo img { border-radius: 50%; margin-top: 42px;}

.text-side { float: right; width: 500px;}

.text-side .welcome-block { margin-top: 38px;}

.text-side h3 span { font-family: 'Libre Baskerville', serif; line-height: 1.2em; font-size: 55px; color: rgb(96, 96, 96); }

.text-side h4 span { font-family: 'Libre Baskerville', serif; line-height: 1.5em; font-size: 35px; color: rgb(96, 96, 96);}

.text-side section { margin-top: 40px; height: 200px;}

.text-side section .round { width: 142px; height: 142px; border-radius: 50%; float: left; margin: 10px 7px; cursor: pointer;}

.text-side section .round a { display: block; width: 140px; height: 140px; text-decoration: none;}

.text-side section a span { margin: 60px 21px; display: inline-block; white-space: nowrap; text-transform: uppercase; color: rgb(255, 255, 255); transition: color 0.4s ease 0s; -webkit-transition: color 0.4s ease 0s;}

.text-side section .green { background-color: #99E8BD; }

.text-side section .blue { background-color: #AACAFF;}

.text-side section .red { background-color: #FF736B; }

.text-side .description { margin-top: 30px; }

.text-side .description p { font-family: 'Libre Baskerville', serif; color: rgb(96, 96, 96); }

.text-side .description .triangle-right { width: 0; height: 0; border-top: 20px solid transparent; border-left: 42px solid red; border-bottom: 20px solid transparent;}

.style-separator { background-image: url(7-floral.jpg); width: 100%; height: 22px; -moz-box-shadow: inset 0 0 13px #000000; -webkit-box-shadow: inset 0 0 13px #000000; box-shadow: inset 0 0 13px #000000;}

footer { height: 85px; background-color: #E85E47;}

footer .icons { width: 55px; height: 55px; float: left; margin-top: 17px;}

footer .icons img { width: 50px; height: 45px; opacity: 0.7; }

footer .icons-description { float: left; width: 180px; margin-top: 26px;}

footer .icons-description a {text-decoration: none; color: #FFFDE5;}

footer .icons-description span { color: #FFFDE5; cursor: pointer;}

footer .icons-description span:hover, footer .icons-description a:hover { color: #FF3725; } 