.kaleidoscope {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kaleidoscope h1 {
  font-size: 2.5rem;
}

.small {
  text-align: center;
  margin: 1rem 5rem;
}

.small a {
  color: var(--link-color);
}

.container {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-top: 2rem;
}

.kaleido {
  width: 195px;
  height: 172px;
  position: relative;
  transform: rotateZ(0);
  padding-top: 174px;
  margin: 0 auto;
}

.tile {
  /* 86.6% = ratio of height to width of equilateral triangle */
  -webkit-clip-path: polygon(50% 0,0 86.6%, 100% 86.6%, 50% 0);
  clip-path: url(#polygon); 
  height: 200px;
  width: 200px;
  background-size: cover;
  position: absolute;
  transform-origin: top center;
  animation: turn 7s ease infinite;
}

/* .tile:nth-child(1) {

} */

.tile:nth-child(2) {
  transform: rotate(60deg) scaleX(-1);
}

.tile:nth-child(3) {
  transform: rotate(120deg);
}

.tile:nth-child(4) {
  transform: rotate(180deg) scaleX(-1);
}

.tile:nth-child(5) {
  transform: rotate(240deg);
}

.tile:nth-child(6) {
  transform: rotate(-60deg) scaleX(-1);
}

.btn-small:hover {
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  animation: slidebg 5s linear infinite;
}

@keyframes turn {
  0%,100% {
    background-position: 0 0;
  }
  50% {
    background-position: -80px 185px;
  }
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

