.projects-home h2 {
  font-size: 2.5rem;
}

.projects-container {
  margin: 0 2rem;
}

.projects-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.projects-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 2rem;
  border-radius: 10%;
  border: 1px solid var(--grey);
  width: 220px;
  height: 150px;
  margin: 1rem;
}

.item-kaleidoscope,
.item-tools,
.item-wordle {
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.item-kaleidoscope {
  background-image: url('../public/kaleidoscope-starseeds.gif');
}

.item-kaleidoscope:hover,
.item-wordle:hover,
.item-tools:hover {
  animation: gelatine 0.4s infinite;
  animation-iteration-count: 1.5;
  animation-direction: normal;
}

.item-tools {
  background-image: url('../public/do-it-yourself-tools.gif');
  background-size: cover;
}

.item-tools p,
.item-wordle p,
.item-kaleidoscope p {
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.item-wordle {
  background-color: var(--peach);
}

.item-wordle p {
  text-align: center;
}

.item-wordle__letter {
  width: 20px;
  height: 20px;
  display: inline-block;
  text-transform: uppercase;
  margin: 2px;
  background-color: #54a754;
  color: #fff;
  text-shadow: none;
  line-height: 1.3;
}

@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

@media only screen and (max-width: 1000px) { 
  .projects-home h2 {
    font-size: 1.7rem;
  }
}